@page "/"
@using ClienteBlazor.Model
@using ClienteBlazor.Service


@inject IInmuebleService InmuebleService

<!-- Publicidad Component -->
<Publicidad />

<!-- Contenido Principal -->
<div class="container mx-auto p-4">
    <h1 class="text-3xl font-semibold mb-4">Explora los Inmuebles</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        @foreach (var inmueble in inmuebles)
        {
            <div class="bg-white p-4 rounded shadow">
                @if (inmueble.Imagenes.Any())
                {
                    <img src="@inmueble.Imagenes.First().Url" alt="@inmueble.Descripcion" class="w-full h-64 object-cover rounded-t" />
                }
                <div class="p-4">
                    <h2 class="text-xl font-semibold">@inmueble.Direccion</h2>
                    <p class="text-gray-600">@inmueble.Descripcion</p>
                    <p class="text-indigo-600 mt-2 font-semibold">@inmueble.Precio.ToString("C")</p>
                    <!-- Aquí puedes agregar más detalles del inmueble, como el número de habitaciones, baños, etc. -->
                </div>
            </div>
        }
    </div>
</div>

@code {
    private List<InmuebleDto> inmuebles = new List<InmuebleDto>();

    protected override async Task OnInitializedAsync()
    {
        inmuebles = (await InmuebleService.GetAllAsync()).ToList();
    }
}

